body {
  font-family: Inter, Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.walletConnect,
.verifyProduce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
  background: #e0e0e0;
  padding: 10px;
}

.cropName, .farmLocation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

h3 {
  margin-bottom: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;  display: inline-block;
}

button:hover {
  background-color: #45a049;
}

input {
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

p {
  margin-top: 10px;
  color: #333;
}

th {
  background-color: #4CAF50;
  color: white;
  padding: 12px 15px;
  font-weight: bold;
}

td {
  padding: 12px 15px;
  border: 1px solid #e5e5e5;
}

table {
  border: 1px solid #e5e5e5;
}
